<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705158186430-6mfgq9vqug3nc1tlci60qsi92df2ci64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705158186430-6mfgq9vqug3nc1tlci60qsi92df2ci64</string>
	<key>API_KEY</key>
	<string>AIzaSyBYK5j1RVfPpLvk755BwvPv5UTXEWRNTrI</string>
	<key>GCM_SENDER_ID</key>
	<string>705158186430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.p1</string>
	<key>PROJECT_ID</key>
	<string>learningapp-90aa6</string>
	<key>STORAGE_BUCKET</key>
	<string>learningapp-90aa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705158186430:ios:5871814f559ed8f426e5ef</string>
</dict>
</plist>